$menuColor: #BFDBFE;

.menu {
    min-height: 40px;
    background-color: $menuColor;
    color: #60A5FA;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 30px;
    margin: 20px 50px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
}

.link {
    padding: 0 10px;
    text-decoration: none;

    &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none;
    }
}

.menu-item {
    padding: 0 10px;
    &:hover {
      color: cornflowerblue;
    }
}

.justify-end {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}
